@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --color: #7ebdc2;
    --alt-color: #f3dfa2;
}
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    justify-content: center;
    background-color: var(--color);
    font-family:'Poppins', sans-serif;
}

.container{
    margin: 30px;
    padding-bottom: 30px;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-auto-rows: 550px;
    gap:15px;
    justify-self: center;
}

.book{
    border-radius: .5rem;
    box-shadow: 5px 5px 10px rgb(189, 189, 189);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 10px;
}

.text > p:first-child{
    font-size: large;
}

img{
    max-height: 355px;
}
.text{
    margin-top: 10px;
}
.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.formback{
    display: none;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    z-index: 98;
}

form{
    display:none;
    visibility: hidden; 
    flex-direction: column;
    width: min-content;
    padding: 25px 25px;
    border: 5px var(--color) solid;
    background-image: linear-gradient(to bottom right,var(--alt-color), white);
    border-radius: .5rem;
}
form label{
    text-align: left;
}
form input {
    margin-bottom: 10px;
    border-radius: .5rem;
    border: 1px solid var(--color);
}

form input{
    width: 15rem;
    height: 1.7rem;
    padding-left: 10px;
}
button{
    height: 3rem;
    border: solid var(--color) 2px;
    border-radius: .5rem;
    background-color: var(--color);
    margin: 5px 0;
}
button:hover{
    filter: brightness(110%);
}
legend{
    margin-bottom: 20px;
    text-align: center;
    font-size: xx-large;
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    width: 100%;
    font-size: x-large;
    background-color: var(--alt-color);
    color: var(--color);
}

h1{
    margin: 0;
    margin-left: 5px;
}

.crossHolder{
    position: fixed;
    bottom: 30px;
    right: 50px;
    background-color: white;
    height: 40px; 
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.closeHolder{
    position: relative;
    top: -20px;
    left: -20px;
    background-color: white;
    height: 30px; 
    width: 30px;
    border-radius: 50%;
    place-items: center;
    display: none;
    visibility: hidden;
}

.close{
    cursor: pointer;
}

.add{
    cursor: pointer;
}

/* switch from W3 school */

.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

form input:valid{
    border: solid 1px green;
}

/* form validation */
.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}
  
.error.active {
    padding: 0.3em;
}